*{margin: 0;padding: 0;box-sizing: border-box;}
section{height: 100vh;border: 1px solid #000;}
.section01{position: relative;}
.s1--text01{position: absolute;transform: translate(-50%,-50%);top: 50%;left: 50%;-webkit-column-width: 100%;font-size: 40px;display: flex;align-items: center;}
.s1--text01Wrap{opacity: 0;transition-duration: 1s;}
.s1--text01Wrap.open{opacity: 1;}

.s1--text02Container{position: absolute;bottom: 0;left: 0;width: 100%;overflow: hidden;}
.s1--text02Wrap{width: 100%;display: flex;}
.s2--text02{font-size: 10vw;transform: translateX(-100%);}